body{
  background-color:gray
}
.divContainer{
  text-align:center;
  width:500px;
  margin: 0 auto;
  border-style:double;
  -moz-box-shadow: 0 0 30px 5px #999;
  -webkit-box-shadow: 0 0 30px 5px #999;
    background-color:white
}
h2{
  text-shadow: 2px 2px 2px #CCCCCC;
}