<body>
<div class="divContainer">


<h2>NAME</h2>
<p>{{fund.name}}</p>
          <mat-divider></mat-divider>

<h2>Ticker</h2>
<p>{{fund.ticker}}</p>
          <mat-divider></mat-divider>

<h2>Asset Class</h2>
<p>{{fund.asset_class}}</p>
          <mat-divider></mat-divider>

<h2>Risk Level</h2>
<p>{{fund.risk_level}}</p>
          <mat-divider></mat-divider>

<h2>Expense Ratio</h2>
<p>{{fund.expense_ratio}}</p>
          <mat-divider></mat-divider>

<h2>Investment Minimum</h2>
<p>${{fund.investment_min}}</p>
          <mat-divider></mat-divider>

<h2>Price</h2>
<p>${{fund.price}}</p>
          <mat-divider></mat-divider>

<h2>Change Price</h2>
<p>${{fund.change_price}}</p>
          <mat-divider></mat-divider>



</div>

</body>


