.divContainer{
	text-align:center;
	width:500px;
	margin: 0 auto;
	border-style:double;
	-moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
    background-color:white
}
body{
	background-color:gray
}